<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="maps.css">
    <link rel="stylesheet" href="../navigation footer/footer.css">
    <link rel="stylesheet" href="../navigation footer/navigation.css">
    <title>Maps | Rainbow Seven Siege</title>
</head>
<body>
    <ul id="nav">
        <a href="../../components/home/home.html"><li class=""><img src="../../assets/logos/logo.png" alt="" id="logo"></li></a>
        <a href="../../components/home/home.html"><li class="nav-menu">HOME</li></a>
        <li class="nav-menu" id="dropdown-parent">
            GAME
            <ul id="dropdown-content">
                <a href="../../components/operators/operators.html"><li class="nav-menu">OPERATORS</li></a>
                <a href="#"><li class="nav-menu">MAPS</li></a>
                <a href="../../components/quarantine/quarantine.html"><li class="nav-menu">QUARANTINE</li></a>
            </ul>
        </li>
        <a href="../../components/preorder/preorder.html"><li class="nav-menu">PRE-ORDER</li></a>
    </ul>

    <div id="main-cont">
        <div class="map-cont">
            <div class="map-img">
                <img src="../../assets/map-img/r6-maps-bank_352520.jpg" alt="">
            </div>
            <div class="map-detail">
                <div class="bigger-text">BANK</div>
            </div>
        </div>
        <div class="map-cont">
            <div class="map-img">
                <img src="../../assets/map-img/r6-maps-border.jpg" alt="">
            </div>
            <div class="map-detail">
                <div class="bigger-text">BORDER</div>
            </div>
        </div>
        <div class="map-cont">
            <div class="map-img">
                <img src="../../assets/map-img/r6-maps-chalet.jpg" alt="">
            </div>
            <div class="map-detail">
                <div class="bigger-text">CHALET</div>
            </div>
        </div>
        <div class="map-cont">
            <div class="map-img">
                <img src="../../assets/map-img/r6-maps-clubhouse.jpg" alt="">
            </div>
            <div class="map-detail">
                <div class="bigger-text">CLUBHOUSE</div>
            </div>
        </div>

        <div class="map-cont">
            <div class="map-img">
                <img src="../../assets/map-img/r6-maps-coastline.jpg" alt="">
            </div>
            <div class="map-detail">
                <div class="bigger-text">COASTLINE</div>
            </div>
        </div>

        <div class="map-cont">
            <div class="map-img">
                <img src="../../assets/map-img/r6-maps-consulate.jpg" alt="">
            </div>
            <div class="map-detail">
                <div class="bigger-text">CONSULATE</div>
            </div>
        </div>

        <div class="map-cont">
            <div class="map-img">
                <img src="../../assets/map-img/r6-maps-favela.jpg" alt="">
            </div>
            <div class="map-detail">
                <div class="bigger-text">FAVELA</div>
            </div>
        </div>

        <div class="map-cont">
            <div class="map-img">
                <img src="../../assets/map-img/r6-maps-fortress.jpg" alt="">
            </div>
            <div class="map-detail">
                <div class="bigger-text">FORTRESS</div>
            </div>
        </div>

        <div class="map-cont">
            <div class="map-img">
                <img src="../../assets/map-img/r6-maps-hereford.jpg" alt="">
            </div>
            <div class="map-detail">
                <div class="bigger-text">HEREFORD BASE</div>
            </div>
        </div>
        <div class="map-cont">
            <div class="map-img">
                <img src="../../assets/map-img/r6-maps-kafe.jpg" alt="">
            </div>
            <div class="map-detail">
                <div class="bigger-text">KAFE DOSTOYEVSKY</div>
            </div>
        </div>
        <div class="map-cont">
            <div class="map-img">
                <img src="../../assets/map-img/r6-maps-kanal.jpg" alt="">
            </div>
            <div class="map-detail">
                <div class="bigger-text">KANAL</div>
            </div>
        </div>
        <div class="map-cont">
            <div class="map-img">
                <img src="../../assets/map-img/r6-maps-oregon.jpg" alt="">
            </div>
            <div class="map-detail">
                <div class="bigger-text">OREGON</div>
            </div>
        </div>
        <div class="map-cont">
            <div class="map-img">
                <img src="../../assets/map-img/r6-maps-outback.jpg" alt="">
            </div>
            <div class="map-detail">
                <div class="bigger-text">OUTBACK</div>
            </div>
        </div>
        <div class="map-cont">
            <div class="map-img">
                <img src="../../assets/map-img/r6-maps-plane.jpg" alt="">
            </div>
            <div class="map-detail">
                <div class="bigger-text">PRESIDENTIAL PLANE</div>
            </div>
        </div>

        <div class="map-cont">
            <div class="map-img">
                <img src="../../assets/map-img/r6-maps-skyscraper.jpg" alt="">
            </div>
            <div class="map-detail">
                <div class="bigger-text">SKYSCRAPER</div>
            </div>
        </div>

        <div class="map-cont">
            <div class="map-img">
                <img src="../../assets/map-img/r6-maps-themepark.jpg" alt="">
            </div>
            <div class="map-detail">
                <div class="bigger-text">THEME PARK</div>
            </div>
        </div>

        <div class="map-cont">
            <div class="map-img">
                <img src="../../assets/map-img/r6-maps-tower.jpg" alt="">
            </div>
            <div class="map-detail">
                <div class="bigger-text">TOWER</div>
            </div>
        </div>

        <div class="map-cont">
            <div class="map-img">
                <img src="../../assets/map-img/r6-maps-villa.jpg" alt="">
            </div>
            <div class="map-detail">
                <div class="bigger-text">VILLA</div>
            </div>
        </div>

        <div class="map-cont">
            <div class="map-img">
                <img src="../../assets/map-img/r6-maps-yacht.jpg" alt="">
            </div>
            <div class="map-detail">
                <div class="bigger-text">YACHT</div>
            </div>
        </div>

    </div>

    <footer>
        
            <div class="bigger-text">FIND US ON</div>
            <div id="social-cont">
                <img src="../../assets/logos/r6-logo-reddit.webp" alt="">
                <img src="../../assets/logos/r6-logo-facebook.webp" alt="">
                <img src="../../assets/logos/r6-logo-twitter.webp" alt="">
                <img src="../../assets/logos/r6-logo-instagram.webp" alt="">
                <img src="../../assets/logos/r6-logo-forum.webp" alt="">
                <img src="../../assets/logos/r6-logo-youtube.webp" alt="">
                <img src="../../assets/logos/r6-logo-twitch.webp" alt="">
                <img src="../../assets/logos/r6-logo-discord.webp" alt="">
                <img src="../../assets/logos/r6-logo-mixer.webp" alt="">
            </div>
            <div id="cert-cont">
                <img src="../../assets/logos/privacy-certified-globe-color-ubiosoft_110500.webp" alt="">
                <img src="../../assets/logos/pc-dvd_83673.webp" alt="">
                <img src="../../assets/logos/r6s-m-rating_214090.webp" alt="">
            </div>
            <div class="medium-text">
                ©2020 AE,LI,CY Project. All Rights Reserved. Rainbow Seven Siege
            </div>
        
        </footer>

    
</body>
</html>