<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="operators.css">
    <link rel="stylesheet" href="../navigation footer/footer.css">
    <link rel="stylesheet" href="../navigation footer/navigation.css">
    <title>Operators | Rainbow Seven Siege</title>
</head>
<body>
    <ul id="nav">
        <a href="../../components/home/home.html"><li class=""><img src="../../assets/logos/logo.png" alt="" id="logo"></li></a>
        <a href="../../components/home/home.html"><li class="nav-menu">HOME</li></a>
        <li class="nav-menu" id="dropdown-parent">
            GAME
            <ul id="dropdown-content">
                <a href="#"><li class="nav-menu">OPERATORS</li></a>
                <a href="../../components/maps/maps.html"><li class="nav-menu">MAPS</li></a>
                <a href="../../components/quarantine/quarantine.html"><li class="nav-menu">QUARANTINE</li></a>
            </ul>
        </li>
        <a href="../../components/preorder/preorder.html"><li class="nav-menu">PRE-ORDER</li></a>
    </ul>

    <div id="main-cont">
        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/ace.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">ACE</div>
            </div>
        </div>
        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/melusi.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">MELUSI</div>
            </div>
        </div>
        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/oryx.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">ORYX</div>
            </div>
        </div>
        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/iana.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">IANA</div>
            </div>
        </div>
        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/wamai.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">WAMAI</div>
            </div>
        </div>
        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/kali.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">KALI</div>
            </div>
        </div>
        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/amaru.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">AMARU</div>
            </div>
        </div>
        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/goyo.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">GOYO</div>
            </div>
        </div>
        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/nokk.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">NOKK</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/warden.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">WARDEN</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/mozzie.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">MOZZIE</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/gridlock.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">GRIDLOCK</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/nomad.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">NOMAD</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/kaid.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">KAID</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/clash.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">CLASH</div>
            </div>
        </div>
        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/maverick.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">MAVERICK</div>
            </div>
        </div>
        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/maestro.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">MAESTRO</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/alibi.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">ALIBI</div>
            </div>
        </div>
        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/lion.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">LION</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/finka.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">FINKA</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/vigil.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">VIGIL</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/dokkaebi.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">DOKKAEBI</div>
            </div>
        </div>
        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/zofia.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">ZOFIA</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/ela.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">ELA</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/ying.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">YING</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/lesion.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">LESION</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/mira.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">MIRA</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/jackal.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">JACKAL</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/hibana.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">HIBANA</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/echo.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">ECHO</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/caviera.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">CAVIERA</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/capitao.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">CAPITAO</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/blackbeard.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">BLACKBEARD</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/valkyrie.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">VALKYRIE</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/buck.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">BUCK</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/frost.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">FROST</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/mute.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">MUTE</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/sledge.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">SLEDGE</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/smoke.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">SMOKE</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/thatcher.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">THATCHER</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/ash.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">ASH</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/castle.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">CASTLE</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/pulse.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">PULSE</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/thermite.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">THERMITE</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/montagne.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">MONTAGNE</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/twitch.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">TWITCH</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/doc.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">DOC</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/rook.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">ROOK</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/jager.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">JAGER</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/bandit.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">BANDIT</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/blitz.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">BLITZ</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/iq.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">IQ</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/fuze.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">FUZE</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/glaz.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">GLAZ</div>
            </div>
        </div>

        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/tachanka.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">TACHANKA</div>
            </div>
        </div>
        
        <div class="operator-cont">
            <div class="operator-img">
                <img src="../../assets/op-img/kapkan.jpg" alt="">
            </div>
            <div class="operator-detail">
                <div class="bigger-text">KAPKAN</div>
            </div>
        </div>
        
    </div>
    <footer>
        <div class="bigger-text">FIND US ON</div>
        <div id="social-cont">
            <img src="../../assets/logos/r6-logo-reddit.webp" alt="">
            <img src="../../assets/logos/r6-logo-facebook.webp" alt="">
            <img src="../../assets/logos/r6-logo-twitter.webp" alt="">
            <img src="../../assets/logos/r6-logo-instagram.webp" alt="">
            <img src="../../assets/logos/r6-logo-forum.webp" alt="">
            <img src="../../assets/logos/r6-logo-youtube.webp" alt="">
            <img src="../../assets/logos/r6-logo-twitch.webp" alt="">
            <img src="../../assets/logos/r6-logo-discord.webp" alt="">
            <img src="../../assets/logos/r6-logo-mixer.webp" alt="">
        </div>
        <div id="cert-cont">
            <img src="../../assets/logos/privacy-certified-globe-color-ubiosoft_110500.webp" alt="">
            <img src="../../assets/logos/pc-dvd_83673.webp" alt="">
            <img src="../../assets/logos/r6s-m-rating_214090.webp" alt="">
        </div>
        <div class="medium-text">
            ©2020 AE,LI,CY Project. All Rights Reserved. Rainbow Seven Siege
        </div>
    
    </footer>
</body>
</html>