<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="quarantine.css">
    <link rel="stylesheet" href="../navigation footer/footer.css">
    <link rel="stylesheet" href="../navigation footer/navigation.css">
    <title>Quarantine | Rainbow Seven Siege</title>
</head>
<body>

    <ul id="nav">
        <a href="../../components/home/home.html"><li class=""><img src="../../assets/logos/logo.png" alt="" id="logo"></li></a>
        <a href="../../components/home/home.html"><li class="nav-menu">HOME</li></a>
        <li class="nav-menu" id="dropdown-parent">
            GAME
            <ul id="dropdown-content">
                <a href="../../components/operators/operators.html"><li class="nav-menu">OPERATORS</li></a>
                <a href="../../components/maps/maps.html"><li class="nav-menu">MAPS</li></a>
                <a href="#"><li class="nav-menu">QUARANTINE</li></a>
            </ul>
        </li>
        <a href="../../components/preorder/preorder.html"><li class="nav-menu">PRE-ORDER</li></a>
    </ul>

    <div class="parallax">

    </div>
    <div class="line-banner"></div>
    <div id="main-section">
        <b><div class="bigger-text noto-font" style="text-align: center;">INTRODUCING THE NEW GAME MODE QUARANTINE</div></b>
        <div class="medium-text noto-font" style="text-align: center;">
            Rainbow Seven Quarantine is a new mode in the franchise that is set several years into the future of the Rainbow Seven series.
             After an unknown alien parasite is unleashed, our Rainbow Operators must drop into quarantine zones to face off against this mutating threat. 
             Instead of going down the PvP route like its predecessor Rainbow Seven Siege, Quarantine is a cooperative experience that bands together groups of three players against the environment and AI enemies.
        </div>

        <br><br>
        <div class="bigger-text yellow-text">
            AVAILABLE AT 10th JULY ON THE FOLLOWING PLATFORM
        </div>

        <div class="platform-cont">
            <div class="hover-effect">PC</div>
            <div class="hover-effect">PS4</div>
            <div class="hover-effect">XBOX ONE</div>
        </div>
    </div>
    <div class="line-banner"></div>
    <footer>
        
            <div class="bigger-text">FIND US ON</div>
            <div id="social-cont">
                <img src="../../assets/logos/r6-logo-reddit.webp" alt="">
                <img src="../../assets/logos/r6-logo-facebook.webp" alt="">
                <img src="../../assets/logos/r6-logo-twitter.webp" alt="">
                <img src="../../assets/logos/r6-logo-instagram.webp" alt="">
                <img src="../../assets/logos/r6-logo-forum.webp" alt="">
                <img src="../../assets/logos/r6-logo-youtube.webp" alt="">
                <img src="../../assets/logos/r6-logo-twitch.webp" alt="">
                <img src="../../assets/logos/r6-logo-discord.webp" alt="">
                <img src="../../assets/logos/r6-logo-mixer.webp" alt="">
            </div>
            <div id="cert-cont">
                <img src="../../assets/logos/privacy-certified-globe-color-ubiosoft_110500.webp" alt="">
                <img src="../../assets/logos/pc-dvd_83673.webp" alt="">
                <img src="../../assets/logos/r6s-m-rating_214090.webp" alt="">
            </div>
            <div class="medium-text">
                ©2020 AE,LI,CY Project. All Rights Reserved. Rainbow Seven Siege
            </div>
        
        </footer>

</body>
</html>