<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="home.css">
    <script src="../../scripts/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="../navigation footer/footer.css">
    <link rel="stylesheet" href="../navigation footer/navigation.css">
    <script src="home.js"></script>
    <title>Rainbow Seven Siege</title>
</head>
<body>

    <ul id="nav">
        <a href="#"><li class=""><img src="../../assets/logos/logo.png" alt="" id="logo"></li></a>
        <a href="#"><li class="nav-menu">HOME</li></a>
        <li class="nav-menu" id="dropdown-parent">
            GAME
            <ul id="dropdown-content">
                <a href="../../components/operators/operators.html"><li class="nav-menu">OPERATORS</li></a>
                <a href="../../components/maps/maps.html"><li class="nav-menu">MAPS</li></a>
                <a href="../../components/quarantine/quarantine.html"><li class="nav-menu">QUARANTINE</li></a>
            </ul>
        </li>
        <a href="../../components/preorder/preorder.html"><li class="nav-menu">PRE-ORDER</li></a>
    </ul>

    <!--Slider-->
    <div id="slider-cont">
        <div class="gigantic-text" id="slide-left">&lt;</div>
        <div class="slides">
            <div class="slide-img">
                <img src="../../assets/slider-img/r6s-seasons-y5s1.jpg" alt="">
            </div>
            <div class="slide-text">
                <div class="bigger-text" style="color: #946a97;">YEAR 5 SEASON 1</div>
                <div class="medium-text">RELEASE DATE: MARCH 2020</div>
                <div class="gigantic-text">OPERATION VOID EDGE</div>
                <div class="notofont">For the fifth year of Rainbow 6 Siege, give some space to our two new operators as they break into this season with their unique abilities. Thanks to her Gemini Replicator, attacker Iana can create a usable clone of herself, while Defender Oryx can use his Remah Dash against enemies and walls.</div>
            </div>
        </div>

        <div class="slides">
            <div>
                <img src="../../assets/slider-img/r6s-seasons-y4s4.jpg" alt="">
            </div>
            <div class="slide-text">
                <div class="bigger-text" style="color: #089eb3;">YEAR 4 SEASON 4</div>
                <div class="medium-text">RELEASE DATE: DECEMBER 2019</div>
                <div class="gigantic-text">OPERATION SHIFTING TIDES</div>
                <div class="notofont">Rise from the depths this season with Operation Shifting Tides. Try Kali and her explosive underbarrel gadget that lets her use it for more than just punching holes in walls and Operators. On the other side of the action, strange things happening to grenades, as Wamai deploys a new gadget with magnetic appeal. With them, expect a newly reworked Theme Park to surface.</div>
            </div>
        </div>

        <div class="slides">
            <div class="slide-img">
                <img src="../../assets/slider-img/r6s-seasons-y4s3.jpg" alt="">
            </div>
            <div class="slide-text">
                <div class="bigger-text" style="color: #156309;">YEAR 4 SEASON 3</div>
                <div class="medium-text">RELEASE DATE: SEPTEMBER 2019</div>
                <div class="gigantic-text">OPERATION EMBER RISE</div>
                <div class="notofont">Something new is on the horizon, and Operation Ember Rise will shed light on it. Two operators, Amaru and Goyo, were recruited from Peru and Mexico, bringing with them innovation and change to Rainbow Seven, along with a thrilling rework to Kanal.</div>
            </div>
        </div>

        <div class="slides">
            <div class="slide-img">
                <img src="../../assets/slider-img/r6s-seasons-y4s2.jpg" alt="">
            </div>
            <div class="slide-text">
                <div class="bigger-text" style="color: #304395;">YEAR 4 SEASON 2</div>
                <div class="medium-text">RELEASE DATE: JUNE 2019</div>
                <div class="gigantic-text">OPERATION PHANTOM SIGHT</div>
                <div class="notofont">Sharpen your eyes with Operation Phantom Sight! Become invisible to cameras and drones and move quietly with Nøkk and her Hel gadget. Watch your enemies through smokes and be immune to flashes with Warden and his Glance Smart Glasses. Rediscover Kafe as you have never seen it with the rework of the map.</div>
            </div>
        </div>

        <div class="slides">
            <div class="slide-img">
                <img src="../../assets/slider-img/r6s-seasons-y4s1.jpg" alt="">
            </div>
            <div class="slide-text">
                <div class="bigger-text" style="color: #d2005a;">YEAR 4 SEASON 1</div>
                <div class="medium-text">RELEASE DATE: MARCH 2019</div>
                <div class="gigantic-text">OPERATION BURNT HORIZON</div>
                <div class="notofont">Rainbow Seven goes to the land Down Under for Operation Burnt Horizon. Protection specialists with the SASR Mobility Platoon, Gridlock and Mozzie are assigned protection detail for a high-value convoy across sunburnt country.</div>
            </div>
        </div>

        <div class="slides">
            <div class="slide-img">
                <img src="../../assets/slider-img/r6s-seasons-y3s4.jpg" alt="">
            </div>
            <div class="slide-text">
                <div class="bigger-text" style="color: #aa854f;">YEAR 3 SEASON 4</div>
                <div class="medium-text">RELEASE DATE: DECEMBER 2018</div>
                <div class="gigantic-text">OPERATION WIND BASTION</div>
                <div class="notofont">New to Rainbow Seven are Kaid and Nomad for Operation Wind Bastion. These two Operators are right at home at the reputable Kasbah Sekhra Mania, the featured Fortress map in Morocco. Join the very best at this elite training ground.</div>
            </div>
        </div>

        <div class="slides">
            <div class="slide-img">
                <img src="../../assets/slider-img/r6s-seasons-y3s3.jpg" alt="">
            </div>
            <div class="slide-text">
                <div class="bigger-text" style="color: #81a0c1;">YEAR 3 SEASON 3</div>
                <div class="medium-text">RELEASE DATE: SEPTEMBER 2018</div>
                <div class="gigantic-text">OPERATION GRIM SKY</div>
                <div class="notofont">For Operation Grim Sky, Rainbow Seven is deploying Clash and Maverick. Experts in mob behavior and high-precision strikes respectively, they'll also assess the new training facilities at the reworked Hereford Base. Out with the old and in with the new.</div>
            </div>
        </div>

        <div class="slides">
            <div class="slide-img">
                <img src="../../assets/slider-img/r6s-seasons-y3s2.jpg" alt="">
            </div>
            <div class="slide-text">
                <div class="bigger-text" style="color: #949f39;">YEAR 3 SEASON 2</div>
                <div class="medium-text">RELEASE DATE: JUNE 2018</div>
                <div class="gigantic-text">OPERATION PARA BELLUM</div>
                <div class="notofont">In Operation Para Bellum, two G.I.S. Operators thrive under the blaze of the Tuscan sun. Team Rainbow is deploying Maestro and Alibi in the villa of one of the most dangerous crime families.</div>
            </div>
        </div>

        <div class="slides">
            <div class="slide-img">
                <img src="../../assets/slider-img/r6s-seasons-y3s1.jpg" alt="">
            </div>
            <div class="slide-text">
                <div class="bigger-text" style="color: #ffc113;">YEAR 3 SEASON 1</div>
                <div class="medium-text">RELEASE DATE: MARCH 2018</div>
                <div class="gigantic-text">OPERATION CHIMERA</div>
                <div class="notofont">With Operation Chimera, we are exploring a new fantasy: quarantine and biohazard. The two operators are biohazard specialists from France and Russia. During this first Season, our first major coop event, Outbreak, will take place over four weeks</div>
            </div>
        </div>

        <div class="slides">
            <div class="slide-img">
                <img src="../../assets/slider-img/r6s-seasons-y2s4.jpg" alt="">
            </div>
            <div class="slide-text">
                <div class="bigger-text" style="color: #006543;">YEAR 2 SEASON 4</div>
                <div class="medium-text">RELEASE DATE: NOVEMBER 2017</div>
                <div class="gigantic-text">OPERATION WHITE NOISE</div>
                <div class="notofont">In White Noise, Team Rainbow premieres two Operators from the 707th Special Mission Battalion for a rescue mission high up Mok Myeok Tower, our new free map. Joining them is our second GROM Specialist turned Rainbow Operator.</div>
            </div>
        </div>

        <div class="slides">
            <div class="slide-img">
                <img src="../../assets/slider-img/r6s-seasons-y2s3.jpg" alt="">
            </div>
            <div class="slide-text">
                <div class="bigger-text" style="color: #ca361c;">YEAR 2 SEASON 3</div>
                <div class="medium-text">RELEASE DATE: AUGUST 2017</div>
                <div class="gigantic-text">OPERATION BLOOD ORCHID</div>
                <div class="notofont">In Operation Blood Orchid, two Special Duties Unit Operators join Team Rainbow to raid Theme Park. This third season will showcase a reworking of the Operators and maps following an optimization of our data, namely a rework of textures, polished dynamic and static lighting, richer sky domes, new customization, and much more.</div>
            </div>
        </div>

        <div class="slides">
            <div class="slide-img">
                <img src="../../assets/slider-img/r6s-seasons-y2s2.jpg" alt="">
            </div>
            <div class="slide-text">
                <div class="bigger-text" style="color: #0050b3;">YEAR 2 SEASON 2</div>
                <div class="medium-text">RELEASE DATE: MAY 2017</div>
                <div class="gigantic-text">OPERATION HEALTH</div>
                <div class="notofont">Operation Health, has been all about fixing several issues and investing in better technology to make sure we keep growing strong in the upcoming years. It focused on three main pillars: Technical Improvements, A New Deployment Process and Addressing Top Community reported bugs</div>
            </div>
        </div>

        <div class="slides">
            <div class="slide-img">
                <img src="../../assets/slider-img/r6s-seasons-y2s1.jpg" alt="">
            </div>
            <div class="slide-text">
                <div class="bigger-text" style="color: #723093;">YEAR 2 SEASON 1</div>
                <div class="medium-text">RELEASE DATE: FEBRUARY 2017</div>
                <div class="gigantic-text">OPERATION VELVET SHELL</div>
                <div class="notofont">In Operation Velvet Shell, two G.E.O. Operators join Team Rainbow to regain control of the "Coastline". Following a year of post-launch content, this major update aims to improve player comfort with an upgraded navigation interface, customisation selections and lots more.</div>
            </div>
        </div>

        <div class="slides">
            <div class="slide-img">
                <img src="../../assets/slider-img/r6s-seasons-y1s4.jpg" alt="">
            </div>
            <div class="slide-text">
                <div class="bigger-text" style="color: #723093;">YEAR 1 SEASON 4</div>
                <div class="medium-text">RELEASE DATE: NOVEMBER 2016</div>
                <div class="gigantic-text">OPERATION RED CROW</div>
                <div class="notofont">In Operation Red Crow, two S.A.T. Operators join Team Rainbow to neutralize the threat residing in our new free map, "Skyscraper". This fourth major content update aims to improve game experience, offers new customization opportunities and lots more. The new map Skyscraper also offers fresh tactical opportunities for group-based assaults.</div>
            </div>
        </div>

        <div class="slides">
            <div class="slide-img">
                <img src="../../assets/slider-img/r6s-seasons-y1s3.jpg" alt="">
            </div>
            <div class="slide-text">
                <div class="bigger-text" style="color: #47893b;">YEAR 1 SEASON 3</div>
                <div class="medium-text">RELEASE DATE: AUGUST 2016</div>
                <div class="gigantic-text">OPERATION SKULL RAIN</div>
                <div class="notofont">In Operation Skull Rain, two BOPE Operators join Team Rainbow to pacify the Favela, our new free map. This third major content update aims to improve the game experience by adding countermeasures for toxic behavior, a new weapon attachment, several game enhancements, customisation content and lots more.</div>
            </div>
        </div>

        <div class="slides">
            <div class="slide-img">
                <img src="../../assets/slider-img/r6s-seasons-y1s2.jpg" alt="">
            </div>
            <div class="slide-text">
                <div class="bigger-text" style="color: #d0a344;">YEAR 1 SEASON 2</div>
                <div class="medium-text">RELEASE DATE: MAY 2016</div>
                <div class="gigantic-text">OPERATION DUST LINE</div>
                <div class="notofont">In Operation Dust Line, two Navy SEAL Operators join Team Rainbow to secure the "Border" - our new free map. This second major content update also introduces new weapon skins, advanced customisation options, the ability to change your loadouts between rounds and lots more.</div>
            </div>
        </div>

        <div class="slides">
            <div class="slide-img">
                <img src="../../assets/slider-img/r6s-seasons-y1s1.jpg" alt="">
            </div>
            <div class="slide-text">
                <div class="bigger-text" style="color: #2e93b3;">YEAR 1 SEASON 1</div>
                <div class="medium-text">RELEASE DATE: FEBRUARY 2016</div>
                <div class="gigantic-text">OPERATION BLACK ICE</div>
                <div class="notofont">Continue the Siege with our first major content update, Operation Black Ice, which gives you access to the new Yacht map, two new JTF2 operators, new weapon skins, a spectator camera on all platforms and more.</div>
            </div>
        </div>

        <div class="gigantic-text" id="slide-right">&gt;</div>   
    </div>
    
    <div id="new-operation">
       <div id="video-cont">
           <img id="center-gif" src="../../assets/gif/void_edge.gif" alt="">
       </div>
       <div id="video-desc">
           <div class="bigger-text">OPERATION VOID EDGE</div>
           <p class="notofont medium-text">Things are changing, and Operation Void Edge is sure to throw you for a loop. Iana and Oryx are joining Harry's roster and bring with them talents that stand at opposites. You will need both brain and strength to find your way into the rework Oregon.</p>
           <button class="styled-button">LEARN MORE</button>
       </div>
    </div>
    
    <div id="latest-news">
        <div style="text-align: center;margin-bottom: 10px" class="gigantic-text">
            LATEST NEWS
        </div>
        <div class="news-cont">
            <div class="news-img">
                <img src="../../assets/news-img/r6-weekly-bundles-void_edge_grit_earthsky_bundles-THUMB.webp" alt="">
            </div>
            <div class="news-desc">
                <div class="news-title bigger-text">
                    NEW BUNDLES COMING TO RAINBOW SEVEN SIEGE - MARCH 10TH, 2020
                </div>
                <div class="news-detail notofont medium-text">
                    The Pointed Grit Bundle, the Fleeting Fun Bundle, the Earth and Sky Bundle, and the Void Edge Bundle are coming to Rainbow Six Siege this week!
                </div>
            </div>
        </div>

        <div class="news-cont">
            <div class="news-img">
                <img src="../../assets/news-img/1de805db-fa41-46a9-9a12-9f1aa93b8454.webp" alt="">
            </div>
            <div class="news-desc">
                <div class="news-title bigger-text">
                    MAJOR UPDATES COMING TO RAINBOW SIX CHALLENGER LEAGUE SEASON XI
                </div>
                <div class="news-detail notofont medium-text">
                        The eleventh Rainbow Six Challenger League season will see the first play day starting on March 27th, 2020.
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="bigger-text">FIND US ON</div>
        <div id="social-cont">
            <img src="../../assets/logos/r6-logo-reddit.webp" alt="">
            <img src="../../assets/logos/r6-logo-facebook.webp" alt="">
            <img src="../../assets/logos/r6-logo-twitter.webp" alt="">
            <img src="../../assets/logos/r6-logo-instagram.webp" alt="">
            <img src="../../assets/logos/r6-logo-forum.webp" alt="">
            <img src="../../assets/logos/r6-logo-youtube.webp" alt="">
            <img src="../../assets/logos/r6-logo-twitch.webp" alt="">
            <img src="../../assets/logos/r6-logo-discord.webp" alt="">
            <img src="../../assets/logos/r6-logo-mixer.webp" alt="">
        </div>
        <div id="cert-cont">
            <img src="../../assets/logos/privacy-certified-globe-color-ubiosoft_110500.webp" alt="">
            <img src="../../assets/logos/pc-dvd_83673.webp" alt="">
            <img src="../../assets/logos/r6s-m-rating_214090.webp" alt="">
        </div>
        <div class="medium-text">
            ©2020 AE,LI,CY Project. All Rights Reserved. Rainbow Seven Siege
        </div>
    
    </footer>

</body>
</html>